<div class="callout callout-primary">
    <div class="grid grid--1x2">
        <div class="callout__content">
            <h2 class="callout--heading">Ready to get Started ?</h2>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi
                tempore dolorem sequi repellendus autem amet nihil aut id
                praesentium assumenda, dignissimos cum, voluptatem ipsa
                perspiciatis provident. Quidem blanditiis cumque illum delectus
                sit quaerat a, eveniet autem molestias hic voluptate provident!
                Aliquam quos sunt iusto odit ullam. Hic nulla natus nostrum.
            </p>
        </div>
        <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
    </div>
</div>
