
        <section class="block container">
            <header class="block__header">
                <h2> Host on the cloud to keep Growing</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga, perspiciatis!</p>
            </header>
            <article class="grid grid--1x2 feature">
                <div class="feature__content" data-aos="fade-right">
                    <span class="icon-container">
                        <svg class="icon icon--primary">
                            <use xlink:href="images/sprite.svg#easy"></use>
                        </svg>
                    </span>
                    <h3 class="feature__heading" > Super Easy to Use</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero fuga cumque optio voluptas, animi quos eius? Dolorum corrupti laborum saepe.</p>
                    <a href="#" class="link-arrow">Learn More</a>
                    <picture>
                        <source type="image/webp" srcset="images/easy.webp 1x" />
                        <source type="image/jpg" srcset="images/easy.jpg 1x" />
                    <img class="feature__image" src="images/easy.jpg" alt=""/>
                    </picture>
        </section>
        <section class="block container">>
          <article class="grid grid--1x2 feature">
            <div>
                <span class="icon-container">
                    <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#easy"></use>
                    </svg>
                </span>
                <h3 class="feature__heading" > Super Easy to Use</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero fuga cumque optio voluptas, animi quos eius? Dolorum corrupti laborum saepe.</p>
                <a href="#" class="link-arrow">Learn More</a>
                <picture>
                    <source type="image/webp" srcset="images/easy.webp 1x" />
                    <source type="image/jpg" srcset="images/easy.jpg 1x" />
                <img class="feature__image" src="images/easy.jpg" alt=""/>
                </picture>
                
            </div>
          </article>
          </section
        <script src="js/main.js"></script>