<blockquote class="quote">
    <p class="quote__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta iusto
        iure accusamus vitae blanditiis eius unde quis cumque nihil itaque, ad
        illo rerum sunt, earum et facere facilis distinctio, vel illum quae quos
        incidunt ducimus! Corrupti esse dolorum inventore labore error
        provident, illo hic nihil, quo quasi dolore magnam minus.
    </p>
    <footer>
        <div class="media">
            <div class="media__image">
                <svg class="icon icon--primary quote__line">
                    <use xlink:href="images/sprite.svg#line"></use>
                </svg>
            </div>
            <div class="media__body">
                <h3 class="media__title quote__author">John Smith</h3>
                <p class="quote__organisation">ABC Company</p>
            </div>
        </div>
    </footer>
</blockquote>
